@import 'src/assets/scss/utils/variables';


/* Overwrite Material Dialog */
.no-padding .mat-dialog-container {
  padding: 0px;
}

.gray .mat-dialog-container {
  background: #f2f2f2;
}

.mat-drawer-container {
  background-color: #fff;
}
// .mat-dialog-container {
//   .mat-dialog-title {
//     text-align: center;
//     font-size: $font-size-big;
//     font-family: $font-medium;
//     position: relative;
//     button {
//       position: absolute;
//       right: -15px;
//       top: -15px;
//       &:focus {
//         outline: none;
//       }
//     }
//   }
//   .mat-dialog-content {
//     background-color: $form-bg;
//     font-size: $font-size-middle;
//     font-family: $font-light;
//     color: $text-dark-gray;
//     border: 1px solid $line-gray;
//     padding: 30px 45px;
//     line-height: 1.7142rem;
//   }
//   .mat-dialog-content.no-bg {
//     background: none;
//     border: none;
//   }
//   .mat-dialog-actions {
//     justify-content: center;
//     padding: 18px;
//   }

